<navbar></navbar>
<div class="container">
  <div class="row header-padding">
    <div class="col-xs-12">
      <span class="h2">{{header}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form name="form">
        <div class="form-group">
          <label for="input-id">Characteristic Id</label>
          <input class="form-control input-medium" id="input-id" name="id" ng-model="id" placeholder="Id" type="number" readonly>
        </div>
        <div class="form-group">
          <label for="input-name">Characteristic name</label>
          <input class="form-control input-medium" id="input-name" name="name" ng-disabled="isPreparing" ng-model="name" placeholder="Characteristic name" type="text">
        </div>
          <button type="button" class="btn btn-info btn-spacing btn-bottom-margin" ng-click="cancel()">Cancel</button>
          <button type="button" class="btn btn-primary btn-bottom-margin" ng-click="save()" ng-disabled="!canSave()" ng-hide="isNewCharacteristic">Save changes</button>
          <button type="button" class="btn btn-primary btn-bottom-margin" ng-click="create()" ng-disabled="!canSave()" ng-show="isNewCharacteristic">Create</button>
      </form>
    </div>
  </div>
</div>
