<navbar></navbar>
<div class="container">
  <div class="row header-padding">
    <div class="col-xs-8 col-md-8">
      <span class="h2">Characteristics</span>
    </div>
    <div class="col-xs-4 col-md-4 text-right">
      <a href="/#/characteristics/create">
        <button class="btn btn-primary">
          <i class="material-icons">add</i>
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table align="center" class="table auto table-responsive table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center" ng-repeat="header in headers">
              <button class="btn-no-style" ng-click="sort(header.column)">
                <strong >{{header.title}}</strong>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in characteristics">
            <td class="text-center">
              {{row.characteristic_id}}
            </td>
            <td class="text-center">
              {{row.name}}
            </td>
            <td class="text-center">
              <a ng-href="/#/characteristics/{{row.characteristic_id}}">
                <button class="btn btn-info btn-spacing"><i class="material-icons">edit</i></button>
              </a>
              <button class="btn btn-danger" ng-click="delete(row.characteristic_id, row.name)">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-right" colspan="{{headers.length}}">
              <strong>{{characteristics.length}}
                characteristic{{characteristics.length == 1 ? "" : "s"}}</strong>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
