<nav class="navbar navbar-static-top" id="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8" id="title">
        <span class="nav-text" ng-class="{h2: titleSize == 2, h3: titleSize == 3}">Famous Places CMS</span>
      </div>
        <div class="col-xs-4" id="logout">
          <p class="nav-text text-right">Logged in as {{user}}.<br>
            <a href="#/login" class="nav-link">Log out.</a>
          </p>
        </div>
    </div>
    <div class="row"
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-pills">
          <li class="active" role="presentation">
            <a href="#">Home</a>
          </li>
          <li role="presentation">
            <a href="#">Places</a>
          </li>
          <li role="presentation">
            <a href="#">Countries</a>
          </li>
          <li role="presentation">
            <a href="#">Continents</a>
          </li>
          <li role="presentation">
            <a href="#">Characteristics</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
