<navbar></navbar>
<div class="container">
  <div class="row header-padding">
    <div class="col-xs-12">
      <span class="h2">{{header}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form name="form">
        <div class="form-group">
          <label for="input-id">Country Id</label>
          <input class="form-control input-narrow" id="input-id" name="id" ng-model="id" placeholder="Id" readonly type="number">
        </div>
        <div class="form-group">
          <label for="input-name">Country name</label>
          <input class="form-control input-narrow" id="input-name" name="name" ng-disabled="isPreparing" ng-model="name" placeholder="Country name" type="text">
        </div>
        <div class="form-group">
          <label for="input-continent input-narrow">Continent</label>
          <div>
            <ol class="nya-bs-select form-control input-narrow" live-search="true" disabled="isPreparing" ng-model="continent" size="5" title="No continent selected">
              <li nya-bs-option="option in continents track by option.name">
                <a class="no-border">
                  {{option.name}}
                </a>
              </li>
            </ol>
          </div>
        </div>
        <button class="btn btn-info btn-spacing" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="!canSave()" ng-hide="isNewCountry" type="submit">Save changes</button>
        <button class="btn btn-primary" ng-click="create()" ng-disabled="!canSave()" ng-show="isNewCountry" type="submit">Create</button>
      </form>
    </div>
  </div>
</div>
