<navbar></navbar>
<div class="container">
  <div class="row header-padding">
    <div class="col-xs-8 col-md-8">
      <span class="h2">Countries</span>
    </div>
    <div class="col-xs-4 col-md-4 text-right">
      <a href="/#/countries/create">
        <button class="btn btn-primary">Create new country</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table align="center" class="table auto table-responsive table-striped table-bordered">
        <thead>
          <tr>
            <th ng-repeat="header in headers">
              <strong>{{header}}</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="country in countries">
            <td>
              {{country.country_id}}
            </td>
            <td>
              {{country.name}}
            </td>
            <td>
              {{country.continent}}
            </td>
            <td class="text-center">
              <img class="table-image" ng-src="{{country.image}}" alt="">
              <span ng-hide="country.image != ''">No Image</span>
            </td>
            <td>
              <a ng-href="/#/countries/{{country.country_id}}">
                <button class="btn btn-info btn-spacing">Modify</button>
              </a>
              <button class="btn btn-danger" ng-click="delete(country.country_id, country.name)">Delete</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-right" colspan="{{headers.length}}">
              <strong>{{countries.length}}
                countries</strong>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
