.modal-text {
  min-height: 38px;
}

.modal-image {
  padding: 8px;
}

.modal-cell {
  height: 100%;
  padding: 4px;
}

.modal-btn {
  height: 100%;
  width: 100%;
}

.close {
  position: fixed;
  top: 10px;
  right: 10px;
}
