<navbar></navbar>
<div class="container">
  <div class="row header-padding">
    <div class="col-xs-12">
      <span class="h2">{{header}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form name="form">
        <div class="form-group">
          <label for="input-id">Place Id</label>
          <input class="form-control input-narrow" id="input-id" ng-model="id" placeholder="Id" readonly type="number">
        </div>
        <div class="form-group">
          <label for="input-name">Place name</label>
          <input class="form-control input-narrow" id="input-name" ng-disabled="isPreparing" ng-model="place.name" placeholder="Place name" type="text">
        </div>

        <div class="form-group">
          <div>
            <label>Enabled</label>
          </div>
          <div class="radio-inline">
            <label>
              <input ng-disabled="isPreparing" ng-model="place.enabled" ng-value="true" type="radio">Yes
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input ng-disabled="isPreparing" ng-model="place.enabled" ng-value="false" type="radio">No
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="input-continent">Continent</label>
          <div>
            <ol class="nya-bs-select form-control input-narrow" disabled="isPreparing" live-search="true" ng-model="country" size="5">
              <li nya-bs-option="option in countries track by option.name">
                <a class="no-border">
                  {{option.name}}
                </a>
              </li>
            </ol>
          </div>
        </div>

        <div class="form-group">
          <label for="input-description">Description</label>
          <textarea class="form-control input-medium" id="input-description" ng-disabled="isPreparing" ng-model="place.description" placeholder="Place description" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="input-link">Link</label>
          <input class="form-control input-medium" id="input-link" ng-disabled="isPreparing" ng-model="place.link" placeholder="Additional info URL" type="text">
        </div>

        <div class="form-group">
          <div>
            <label for="input-characteristics">Characteristics</label>
          </div>
          <div class="checkbox-inline" ng-repeat="option in characteristics">
            <label>
              <input ng-disabled="isPreparing" ng-model="option.checked" type="checkbox">
              {{option.name}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label>Image</label>
          </div>
          <div>
            <img alt="no image" class="input-image image-small" ng-src="{{photo.url}}"/>
            {{photo.title}}
          </div>
          <div>
            <button class="btn btn-info" ng-click="browseImage()" type="button">Browse</button>
          </div>
        </div>
        <!-- LATLONG -->
        <button class="btn btn-info btn-spacing" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="!canSave()" ng-hide="isNewPlace" type="submit">Save changes</button>
        <button class="btn btn-primary" ng-click="create()" ng-disabled="!canSave()" ng-show="isNewPlace" type="submit">Create</button>
      </form>
    </div>
  </div>
</div>
