<navbar></navbar>
<div class="container">
  <div class="row header-padding">
    <div class="col-xs-8 col-md-8">
      <span class="h2">Continents</span>
    </div>
    <div class="col-xs-4 col-md-4 text-right">
      <a href="/#/continents/create">
        <button class="btn btn-primary">Create new continent</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table align="center" class="table auto table-responsive table-striped table-bordered">
        <thead>
          <tr>
            <th ng-repeat="header in headers" class="text-center">
              <button class="btn-no-style" ng-click="sort(header.column)"><strong >{{header.title}}</strong></button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="continent in continents">
            <td class="text-center">
              {{continent.continent_id}}
            </td>
            <td class="text-center">
              {{continent.name}}
            </td>
            <td class="text-center">
              <a ng-href="/#/continents/{{continent.continent_id}}">
                <button class="btn btn-info btn-spacing">Modify</button>
              </a>
              <button class="btn btn-danger" ng-click="delete(continent.continent_id, continent.name)">Delete</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-right" colspan="{{headers.length}}">
              <strong>{{continents.length}}
                continent{{continents.length == 1 ? "" : "s"}}</strong>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
