/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

// * {
//   border: solid 1px red;
// }

@import "_variables";

html, body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-black;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6 {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 700;
}

.fill {
  min-height: 100%;
  height: 100%;
  width:100%;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

.btn {
  border: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary,
.btn-primary:focus {
  background-color: $color-green;
  color:$color-white;
}
.btn-primary:hover {
  background-color: darken($color-green, 10%);
}
.btn-primary:active:focus {
  background-color: darken($color-green, 20%);
}
.btn-primary:disabled,
.btn-primary:disabled:hover {
  background-color: DimGray;
}

.btn-info,
.btn-info:focus {
  background-color: $color-lightblue;
  color:$color-white;
}
.btn-info:hover {
  background-color: darken($color-lightblue, 10%);
}
.btn-info:active:focus {
  background-color: darken($color-lightblue, 20%);
}

.btn-danger,
.btn-danger:focus {
  background-color: $color-red;
}
.btn-danger:hover {
  background-color: darken($color-red, 10%);
}
.btn-danger:active:focus {
  background-color: darken($color-red, 20%);
}

.btn-default,
.btn-default:focus {
  background-color: $color-gray;
}
.btn-default:hover {
  background-color: darken($color-gray, 10%);
}
.btn-default:active:focus {
  background-color: darken($color-gray, 20%);
}

.btn-spacing {
  margin-right: 4px;
}

.text-inverted {
  color: $color-white;
}

.text-danger {
  color: $color-red;
}

.header-padding {
  padding: 20px 0 20px 0;
}

table.auto {
  table-layout: auto;
}

.input-narrow {
  max-width: 200px;
}

.input-medium {
  max-width: 400px;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
