/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

// * {
//   border: solid 1px red;
// }

@import "_variables";

html, body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-black;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6 {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 700;
}

.text-inverted {
  color: $color-white;
}

.text-danger {
  color: $color-red;
}

.fill {
  min-height: 100%;
  height: 100%;
  width:100%;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

.header-padding {
  padding: 20px 0 20px 0;
}

.row.padded {
  padding: 0 0 8px 0;
}

table.auto {
  table-layout: auto;
}

.table-image {
  max-width: 60px;
}

.input-medium {
  max-width: 400px;
}

.no-border {
  border: none;
}
.no-border:focus,
.no-border:active:focus,
.no-border.active:focus {
    outline: 0 none;
}

.nya-bs-select > {
  .btn {
    background-color: $color-white;
    border: 1px solid #ccc;
  }

  .btn:focus,
  .btn:active:focus,
  .btn.active:focus {
    background-color: $color-white;
    border: 1px solid #ccc;
  }
}

.input-image {
  max-width: 300px;
  padding: 8px 0;
}

textarea {
  resize: both;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
