<navbar></navbar>
<div class="container">
  <div class="row header-padding">
    <div class="col-xs-12">
      <span class="h2">{{header}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form name="form">
        <div class="form-group">
          <label for="input-id">Mode Id</label>
          <input class="form-control input-medium" id="input-id" name="id" ng-model="mode.mode_id" placeholder="Id" readonly type="number">
        </div>
        <div class="form-group">
          <label for="input-name">Mode name</label>
          <input class="form-control input-medium" id="input-name" name="name" ng-disabled="isPreparing" ng-model="mode.name" placeholder="Mode name" type="text">
        </div>
        <div class="form-group">
          <label for="input-description">Description</label>
          <textarea class="form-control input-medium" id="input-description" ng-disabled="isPreparing" ng-model="mode.description" placeholder="Mode description" rows="3"></textarea>
        </div>
        <div class="form-group">
          <div>
            <label>Enabled</label>
          </div>
          <div class="radio-inline">
            <label>
              <input ng-disabled="isPreparing" ng-model="mode.enabled" ng-value="true" type="radio">Yes
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input ng-disabled="isPreparing" ng-model="mode.enabled" ng-value="false" type="radio">No
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="input-music">Music</label>
          <input class="form-control input-medium" id="input-music" name="name" ng-disabled="isPreparing" ng-model="mode.music" placeholder="Music URL" type="text">
          <button class="btn btn-primary btn-spacing btn-vertical-spacing" ng-click="playMusic()" ng-disabled="isPlaying">Play</button>
          <button class="btn btn-info btn-vertical-spacing" ng-click="stopMusic()" ng-disabled="!isPlaying">Stop</button>
        </div>
        <div class="form-group">
          <label for="input-image">Image</label>
          <input class="form-control input-medium" id="input-image" name="name" ng-disabled="isPreparing" ng-model="mode.image" placeholder="Image URL" type="text">
          <img alt="No image" class="input-image" ng-src="{{image}}"/>
        </div>

        <h3>Filters</h3>
        <p>OR rule, check more for more results. Uncheck all to disable filters.</p>
        <div class="form-group">
          <div>
            <label for="input-countries">
              Countries
            </label>
          </div>
          <div class="checkbox-inline" ng-repeat="option in countries">
            <span ng-class="{checked: isChecked(option)}">
              <input ng-disabled="isPreparing" ng-model="option.checked" type="checkbox">
              {{option.name}}
            </span>
          </div>
        </div>

        <div class="form-group">
          <div>
            <label for="input-continents">
              Continents
            </label>
          </div>
          <div class="checkbox-inline" ng-repeat="option in continents">
            <span ng-class="{checked: isChecked(option)}">
              <input ng-disabled="isPreparing" ng-model="option.checked" type="checkbox">
              {{option.name}}
            </span>
          </div>
        </div>

        <div class="form-group">
          <div>
            <label for="input-characteristics">Characteristics</label>
          </div>
          <div class="checkbox-inline" ng-repeat="option in characteristics">
            <span ng-class="{checked: isChecked(option)}">
              <input ng-disabled="isPreparing" ng-model="option.checked" type="checkbox">
              {{option.name}}
            </span>
          </div>
        </div>
      </div>

      <button class="btn btn-info btn-spacing btn-bottom-margin" ng-click="cancel()" type="button">Cancel</button>
      <button class="btn btn-primary btn-bottom-margin" ng-click="save()" ng-disabled="!canSave()" ng-hide="isNewCountry" type="button">Save changes</button>
      <button class="btn btn-primary btn-bottom-margin" ng-click="create()" ng-disabled="!canSave()" ng-show="isNewCountry" type="button">Create</button>
    </form>
  </div>
</div>
</div>
